.root {
    display: flex;
    flex-direction: column;
    margin: 50px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35)
}

.root h1 {
    margin-left: 10px;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.list {
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
}

.avatar {
    margin-right: 5px;
    margin-bottom: 5px;
}